.name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    display: flex;
    flex-direction: column;
    align-items: center;        
}
#vgg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.bbb{
    background-color: blue;
    font-size: 35px;
}
.bbb:hover{
    background-color:rgb(63, 63, 247);
    
}