#title {
    font-family: monospace;
    color: rgb(51, 35, 141);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 52, 175);
    font-size: 500%;
    margin: 50px 50px 50px 50px;
    position:sticky ;
    right: 335px;
    top:0;
    background-color: rgb(3, 83, 255)
}
body{
    background-image: url(../public/Images/12.avif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
img{
    height: 400px;
    width: 400px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type:upper-alpha;
    box-shadow: 10px 4px 25px 3px #3a3a3a
}
.Shirts-boys{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}
.trousers-boys{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.shoes-boys
{
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Shirts-girls
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.trousers-girls
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.shoes-girls
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
h2{
       font-family: monospace;
    color: rgb(25, 56, 231);
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(41, 73, 255);
    font-size: 400%;
    margin: 100px 150px 50px 150px;
    padding: 10px 10% 10px 10% ;
}

#defenetion{
    font-weight: 600;
    font-size: 200%;
    margin-left: 5%;
}
#Types{
       font-family: monospace;
    color: rgb(51, 35, 141);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 52, 175);
    font-size: 400%;
    margin: 50px 150px 40px 150px;
    padding: 10px 10% 10px 10% ;    
}
h3{
       font-family: monospace;
    color: rgb(25, 56, 231);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(41, 73, 255);
    font-size: 300%;
    margin: 100px 200px 50px 200px;
    padding: 10px 20% 10px 20% ;    
}
h4{
         font-family: monospace;
    color: rgb(70, 52, 175);
    text-decoration: dashed;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(70, 52, 175);
    font-size: 300%;
    margin:100px 210px 50px 210px;
    padding: 10px 20% 10px 20% ;   
}
.top-prodacts-img
{
    margin-bottom: 10px;
    border-radius: 10px;

}
.top-prodacts-img
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mmm{
    background-color: rgb(22, 22, 253);
}